.form {
  width: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 40px;
  border-radius: 8px;
}

.form-label {
  font-weight: bold;
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-position: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: rgb(231, 50, 50);
}

.button {
  margin-top: 20px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(36, 114, 187);
  font-weight: bold;
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.disabled {
  background-color: rgb(53, 95, 134);
}
